

$colorH1:rgb(190, 35, 35);
$colorBordo2:rgb(109, 25, 4);
$colorBordo3:rgb(173, 16, 16);
$colorBordo1: rgb(148, 28, 28);
$colorFondo1:rgb(219, 156, 60);
$colorFondo2:rgb(228, 212, 74);
$colorFondo3:rgb(219, 146, 35);
$colorNav:rgb(221, 204, 51);
$colorMain: rgb(206, 169, 7);
$colorPpal: rgb(206, 169, 7);
$colorFooter: rgb(141, 128, 11);
$colorGaleria: rgb(206, 169, 7);
